:local(.container){
    width: 100vw;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* justify-content: center; */
    /* background: red; */
    
}

:local(.mainImg){
    width: 90%;
    height: 300px;
    max-width: 500px;
    margin-bottom: 20px;
    
    /* align-self: flex-start; */
    /* margin-left: 20px; */
}

:local(.thumbNailContainer){
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 500px;
    align-items: center;
    justify-content: center;
}
:local(.thumbNail){   
    /* flex: 1; */
    width: 65px;
    height: 65px;    
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}