* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    /* border: 1px solid red; */
}
html {
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.AppContainer{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 50px);
}
